@font-face {
    font-family: 'BERNIERDistressed-Regular';
    src: url(../assets/fonts/BERNIERDISTRESSED-REGULAR.OTF) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url(../assets/fonts/IBMPlexSans-VariableFont_wdth\,wght.ttf) format(truetype);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}